# Files and directories created by pub
.dart_tool/
.packages
build/
pubspec.lock

# Directory created by dartdoc
doc/api/

# dotenv environment variables file
.env*

# iOS and Android build artifacts
ios/Pods/
ios/Podfile.lock
ios/Podfile.pinned.lock
android/app/build/
android/gradle.properties
android/local.properties

# IDE-specific settings
.vscode/
.idea/
*.iml

# Dart development-specific files
.dart_dev/

# macOS system files
.DS_Store

# Compiled JavaScript files (optional, if not targeting web)
# *.dart.js
# *.info.json
# *.js
# *.js_
# *.js.deps
# *.js.map

# Flutter-specific
.flutter-plugins
.flutter-plugins-dependencies

# Flutter-generated plugin registration files
*generated_plugin_registrant.cc
*generated_plugins.cmake

# iOS-generated plugin registration file (Swift)
macos/Flutter/GeneratedPluginRegistrant.swift

# Windows-generated plugin registration files (CMake)
windows/flutter/generated_plugin_registrant.cc
windows/flutter/generated_plugins.cmake

# Linux-generated plugin registration files (CMake)
linux/flutter/generated_plugin_registrant.cc
linux/flutter/generated_plugins.cmake
